@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/**
This file contains the general and shared style of your application.
 */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url("../src/backgroundImage.png"); /*picture from https://wallpaperaccess.com/full/1219582.png*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width:15px;
}

::-webkit-scrollbar-track{
  border: 1px solid white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(red, red);
  border: solid white 1px;
  border-radius: 10px;
}